version: 2
updates:

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "main"
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore(ci)"

  # Maintain dependencies for npm
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "main"
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore(deps)"
    versioning-strategy: increase

  # Maintain dependencies for npm in docs folder
  - package-ecosystem: "npm"
    directory: "/docs"
    schedule:
      interval: "weekly"
    target-branch: "main"
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore(docs-deps)"
    versioning-strategy: increase
    groups:
      react:
        patterns:
          - "react*"
          - "@types/react*"
      fumadocs:
        patterns:
          - "fumadocs-*"
          - "next"